<div class="chat">
  <div class="viewer">
    <span class="body"><%= chat.name %></span>
    <span class="body"><%= chat.comment %></span>

    <%= button_tag 'Edit', class: 'edit', type: :button %>
  </div>
  <div class="editor">
    <div>
      <%= button_tag 'Cancel', class: 'cancel', type: :button %>
    </div>
    <%#= render 'form', memo: memo, submit_text: 'Update' %>
  </div>
</div>
